<h1>Pirate</h1>
    <h3>Name: <%= @pirate.name %></h3><br>
    <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
    <h4>Height: <%= @pirate.height %> inches</h4><br>

<h2>Ships</h2>
    <%@ships.each do |ship|%>
        <h3>Name: <%= ship.name %></h3><br>
        <h3>Type: <%= ship.type %></h3><br>
        <h3>Booty: <%= ship.booty %></h3><br>
    <%end%>

