<h1>Display your Pirate here</h1>
<div class="Pirate">
<h3>name: <%= @pirate.name, @pirate.weight, @pirate.height %></h3><br>

<h2>Display your first ship here</h2>
<h1>Ships</h1>
<% @ships.each do |ship| %>
<div class="ship">
  <p>Name: <%= ship.name %></p><br>
  <p>Type: <%= ship.type %></p><br>
  <p>Booty: <%= ship.booty %></p>
</div><br>



<h2>Display your second ship here</h2>
<h1>Ships</h1>
<% @ships.each do |ship| %>
<div class="ship">
  <p>Name: <%= ship.name %></p><br>
  <p>Type: <%= ship.type %></p><br>
  <p>Booty: <%= ship.booty %></p>
</div><br>
